AddDefaultCharset utf-8
# php_value session.gc_maxlifetime 10

RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]